/* font-family: 'Fraunces', serif;
font-family: 'Montserrat', sans-serif; */

attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: hsl(30, 38%, 92%);
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}


main {
    --rad: 10px;
    width: 325px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: var(--rad);
    /* margin: auto; */
}

.content-image {
    width: 100%;
    height: 40%;
}

.content-image img {
    --rad: 10px;
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--rad);
    border-top-right-radius: var(--rad);
}

.content-desc {
    margin: 15px;
}

h1.product-category, p.product-desc, .price-sub, .cart-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

h1.product-category, p.product-desc, .price-sub {
    color: hsl(228, 12%, 48%);
}

h1.product-category {
    letter-spacing: 5px;
    font-weight: 500;
}

p.product-desc {
    line-height: 23px;
}

h2.product-name, .price-main {
    font-family: 'Fraunces', serif;
}

h2.product-name {
    font-size: 30px;
    line-height: 30px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.price-main {
    display: inline-block;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
}

.price-sub {
    display: inline-block;
    text-decoration: line-through;
    position: relative;
    margin-left: 17px;
    bottom: 5px;
}

button.cart-btn {
    border: none;
    width: 100%;
    height: 50px;
    background-color: hsl(158, 36%, 37%);
    border-radius: 7px;
    margin-top: 15px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

.icon-cart {
    position: relative;
    margin-right: 12px;
    top: 4px;
}

@media only screen and (min-width: 1000px) {

    main {
        flex-direction: row;
        width: 510px;
        height: 400px;
    }

    .content-image {
        --rad: 10px;
        content: url("images/image-product-desktop.jpg");
        width: 50%;
        height: 100%;
        border-bottom-left-radius: var(--rad);
        border-top-left-radius: var(--rad);
    }

}